.container_2 {
  width: 1440px;
}
.container_2__1 {
  margin-left: 500px;
  justify-content: center;
  width: 302px;
  margin-top: 50px;
  font-size: 40px;
}
.container_2__3__photo_1 {
  width: 106px;
  margin-top: 50px;
  margin-left: 150px;
}
.container_2__3__text_1 {
  margin-left: 110px;
  margin-top: 20px;
  font-size: 23px;
}
.container_2__3__stick_1 {
  margin-left: 110px;
  border-width: 1px;
}
.container_2__3__text_1_1 {
  width: 150px;
  margin-left: 110px;
  margin-top: 10px;
  font-size: 16px;
}
.container_2__3__photo_2 {
  width: 106px;
  margin-left: 500px;
}
