.container_2 {
  width: 1440px;
}
.container_2__1 {
  margin-left: 500px;
  justify-content: center;
  width: 302px;
  margin-top: 50px;
  font-size: 40px;
}
.container_2__2 {
  display: flex;
  width: auto;
  margin-right: 300px;
}
.container_2__3__photo_1 {
  width: 200px;
  margin-top: 50px;
  margin-left: 120px;
}
.container_2__3__text_1 {
  font-size: 23px;
  width: 200px;
  margin-top: 10px;
}
.container_2__3__stick_1 {
  width: 167px;
  border-width: 1px;
}
.container_2__3__text_1_1 {
  width: 150px;
  margin-top: 10px;
  font-size: 16px;
}
.container_2__3__photo_2 {
  width: 106px;
  margin-left: 180px;
  margin-top: 50px;
}
.container_2__3__text_2 {
  font-size: 23px;
  width: 400px;
  margin-top: 25px;
}
.container_2__3__stick_2 {
  width: 167px;
  border-width: 1px;
}
.container_2__3__text_2_2 {
  width: 250px;
  margin-top: 10px;
  font-size: 16px;
}
.container_2__3__photo_3 {
  margin-left: 200px;
  margin-top: 30px;
}
